<html>
    <head>
        <title>
            ASL
        </title>
    </head>
    
    <body style="background-image: url('static/images/bg-img.jpg'); background-repeat: no-repeat; background-size: cover;">
        <h1 style="color: #D21312; display: flex; justify-content: center; font-size: 35px">Skin Care Product Recommendation Using Deep Learning</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            <div style="float: left; width: 50%;">
            <h4 style="font-size: 20px;">Upload The Image</h4>
            
            <img src="{{ image_path }}" style="background-color: white;"  width="350" height="350">
            <br><br>
            <input style="font-size: larger;" type="file" name="ct_scan">
            <input style="font-size: larger;" type="submit" name="sub" value="Upload">
            <input style="font-size: larger;" type="submit" name="sub" value="Test">
            <br>
            
        </div>
        <div style="float: left; width: 50%;" >
            <label style="color: #0A4D68; font-size: 30px;"><h3>Result : {{ result }}</h3></label>
        </div>
    </form>
    </body>
    
</html>